# Competition Group 5

## Dataset on Transportation

In [113]:
from google.colab import files
uploaded = files.upload()

Saving cardekho_updated.csv to cardekho_updated (2).csv

In [114]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
data_set1=pd.read_csv('cardekho_updated.csv')
data_set1

                                            full_name  ...   seats
0                                     Maruti Alto Std  ...  Seats5
1                              Hyundai Grand i10 Asta  ...  Seats5
2                                    Hyundai i20 Asta  ...  Seats5
3                       Maruti Alto K10 2010-2014 VXI  ...  Seats5
4      Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV  ...  Seats5
...                                               ...  ...     ...
19969                   Toyota Platinum Etios 1.4 GXD  ...  Seats5
19970                          Maruti Ertiga BSIV VXI  ...  Seats7
19971                    Skoda Rapid 1.5 TDI Elegance  ...  Seats5
19972                          Mahindra XUV500 W6 2WD  ...  Seats7
19973                        Honda City i-VTEC CVT VX  ...  Seats5

[19974 rows x 13 columns]

In [115]:
data_set1.shape

(19974, 13)

In [116]:
data_set1.info

<bound method DataFrame.info of                                             full_name  ...   seats
0                                     Maruti Alto Std  ...  Seats5
1                              Hyundai Grand i10 Asta  ...  Seats5
2                                    Hyundai i20 Asta  ...  Seats5
3                       Maruti Alto K10 2010-2014 VXI  ...  Seats5
4      Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV  ...  Seats5
...                                               ...  ...     ...
19969                   Toyota Platinum Etios 1.4 GXD  ...  Seats5
19970                          Maruti Ertiga BSIV VXI  ...  Seats7
19971                    Skoda Rapid 1.5 TDI Elegance  ...  Seats5
19972                          Mahindra XUV500 W6 2WD  ...  Seats7
19973                        Honda City i-VTEC CVT VX  ...  Seats5

[19974 rows x 13 columns]>

In [117]:
data_set1.describe()

               year
count  19974.000000
mean    2014.526134
std        3.248791
min     1991.000000
25%     2013.000000
50%     2015.000000
75%     2017.000000
max     2021.000000

In [118]:
data_set1.isna().sum()

full_name                0
selling_price            0
new_price            10410
year                     0
seller_type              0
km_driven                0
owner_type               0
fuel_type                0
transmission_type        0
mileage                160
engine                 110
max_power              337
seats                   87
dtype: int64

In [119]:
data_set1.dtypes

full_name            object
selling_price        object
new_price            object
year                  int64
seller_type          object
km_driven            object
owner_type           object
fuel_type            object
transmission_type    object
mileage              object
engine               object
max_power            object
seats                object
dtype: object

### Cleaning the data

In [120]:
data_set1['selling_price']= data_set1['selling_price'].astype(float)#, errors = 'raise')

ValueError: ignored

In [110]:
data_set1.dtypes

full_name            object
selling_price        object
new_price            object
year                  int64
seller_type          object
km_driven            object
owner_type           object
fuel_type            object
transmission_type    object
mileage              object
engine               object
max_power            object
seats                object
dtype: object

In [ ]:
for i in range(data_set1.shape[0]):
    try:
        #price = float(data_set1['selling_price'][i].split(' ')[0])
        #digit = data_set1['selling_price'][i].split(' ')[1]
        price = float(data_set1['selling_price'][i])
        digit = data_set1['selling_price'][i]
        if digit == 'Lakh*':
            price = price * 100000
            data_set1['selling_price'][i] = price
        elif digit == 'Cr*':
            price = price * 10000000
            data_set1['selling_price'][i] = price
    except:
        price = data_set1['selling_price'][i][:-1]
        price = price.replace(',', '')
        data_set1['selling_price'][i] = float(price)
data_set1

In [ ]:
data_set1['km_driven'] = data_set1['km_driven'].str.split(' ', n=1, expand=True)[0]
data_set1['km_driven'] = data_set1['km_driven'].str.replace(',','')
# Mileage
data_set1['mileage'] = data_set1['mileage'].str.split(' ', expand=True)[0].str.split('e', expand=True)[2]
# Engine
data_set1['engine'] = data_set1['engine'].str.split(' ', expand=True)[0].str.split('e',expand=True)[1]
# Max Power
data_set1['max_power'] = data_set1['max_power'].str.split(' ', expand=True)[1].str.split('r',expand=True)[1]
# Seats 
data_set1['seats'] = data_set1['seats'].str.split('s', expand=True)[1]

In [ ]:
data_set1['km_driven']= data_set1['km_driven'].astype(float, errors = 'raise')
data_set1['mileage']= data_set1['mileage'].astype(float, errors = 'raise')
data_set1['engine']= data_set1['engine'].astype(float, errors = 'raise')
data_set1['max_power']= data_set1['max_power'].astype(float, errors = 'raise')
data_set1['seats']= data_set1['seats'].astype(float, errors = 'raise')

In [ ]:
data_set1.dtypes

### Filling Missing values

In [ ]:
data_set1.isna().sum()

In [ ]:
obj_cols = list(data_set1.select_dtypes('object').columns)
for o in obj_cols:
  data_set1[o].fillna('NULL',inplace = True)

In [ ]:
obj_cols = list(data_set1.select_dtypes('float').columns)
for o in obj_cols:
  data_set1[o].fillna('NULL',inplace = True)

In [ ]:
data_set1.isna().sum()

### Handling outliers

In [ ]:
sns.boxplot(data= data_set1)
plt.show()

In [ ]:
plt.boxplot(data_set1['year'])
plt.title('Box plot of year')

In [ ]:
Q1=np.percentile(data_set1['year'],25,interpolation='midpoint')
Q2=np.percentile(data_set1['year'],50,interpolation='midpoint')
Q3=np.percentile(data_set1['year'],75,interpolation='midpoint')
print('Q1 = ',Q1)
print('Q2 = ',Q2)
print('Q3 = ',Q3)

In [ ]:
IQR = Q3-Q1
low_lim = Q1-(1.5*IQR)
up_lim = Q3+(1.5*IQR)
print ('IQR =',IQR)
print ('Lower limit =',low_lim)
print ('Upper limit =',up_lim)
outlier = []
for x in data_set1['year']:
  if ((x > up_lim) or (x < low_lim)): 
    outlier.append(x)
outlier

In [ ]:
data_set1['year']=np.where(data_set1['year']>up_lim,up_lim,np.where(data_set1['year']<low_lim,low_lim,data_set1['year']))
data_set1

In [ ]:
plt.boxplot(data_set1['year'])
plt.title('Box plot of year')

In [ ]:
plt.boxplot(data_set1['km_driven'])
plt.title('Box plot of Kilometers Driven')

In [ ]:
Q1=np.percentile(data_set1['km_driven'],25,interpolation='midpoint')
Q2=np.percentile(data_set1['km_driven'],50,interpolation='midpoint')
Q3=np.percentile(data_set1['km_driven'],75,interpolation='midpoint')
print('Q1 = ',Q1)
print('Q2 = ',Q2)
print('Q3 = ',Q3)

In [ ]:
IQR = Q3-Q1
low_lim = Q1-(1.5*IQR)
up_lim = Q3+(1.5*IQR)
print ('IQR =',IQR)
print ('Lower limit =',low_lim)
print ('Upper limit =',up_lim)
outlier = []
for x in data_set1['km_driven']:
  if ((x > up_lim) or (x < low_lim)): 
    outlier.append(x)
outlier

In [ ]:
data_set1['km_driven']=np.where(data_set1['km_driven']>up_lim,up_lim,np.where(data_set1['km_driven']<low_lim,low_lim,data_set1['km_driven']))
data_set1

In [ ]:
plt.boxplot(data_set1['km_driven'])
plt.title('Box plot of Kilometers Driven')

### Label encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder
le =LabelEncoder()
data_set1.seller_type = le.fit_transform(data_set1.seller_type)
data_set1.fuel_type = le.fit_transform(data_set1.fuel_type)
data_set1.transmission_type = le.fit_transform(data_set1.transmission_type)

In [ ]:
data_set1

In [ ]:
data_set1.head(5)

### Feature reduction

#### As more than 50% of the values in the  column new_price are null, we can drop the column. The column owner_type is having a single value, which may not contribute to the data set modelling

In [ ]:
y=data_set1['selling_price']
X=data_set1.drop(['new_price','owner_type'],axis=1)
X.describe()

In [ ]:
data_set1.describe(include='all')

### Feature Engineering

In [ ]:
data_set1.rename(columns={'full_name':'company'}, inplace=True)
data_set1.dtypes